body{
    margin: 0;
}

#main{
    margin: auto;
    margin-top: 50px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: 50px;
    border-radius: 50px;
}

#counter{
    font-size: 64px;
    color: white;
}

#char-list{
    margin: 25px;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    max-width: 100vw;
    flex-wrap: wrap;
}

#char-list > p{
    padding: 15px 40px;
    border-radius: 10px;
}

@media (max-width: 450px) {
    #main{
        padding: 25px;
    }
}


.shake {
    animation: shake 0.175s;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-10px, 0); }
    20%, 40%, 60%, 80% { transform: translate(10px, 0); }
    100% { transform: translate(0, 0); }
}
